# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [5]:
CREATE TABLE JunkDB_STL_May2023.johanna.planned_makes
(
    id INT PRIMARY KEY,
    project VARCHAR(50) NOT NULL,
    project_type VARCHAR(50) NOT NULL,

)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

In [7]:
SELECT * from JunkDB_STL_May2023.johanna.planned_makes

Add three rows to your table that are your planned makes.

In [14]:
INSERT INTO JunkDB_STL_May2023.johanna.planned_makes
VALUES (3, 'build dollhouse furniture','hobby'),
(4, 'learn SQL lol','coding');

In [15]:
select * from JunkDB_STL_May2023.johanna.planned_makes

id,project,project_type
1,make lime squiggles,recipe
2,make lime squiggles,recipe
3,build dollhouse furniture,hobby
4,learn SQL lol,coding

## Update a Row

Change different values in one of your three rows.

In [17]:
-- i messed up creating all the rows above so I am going to redo the id #2
UPDATE JunkDB_STL_May2023.johanna.planned_makes 
SET 
    project = 'jambalaya',
    project_type = 'recipe'
WHERE
    id = 2;

In [18]:
select * from JunkDB_STL_May2023.johanna.planned_makes

id,project,project_type
1,make lime squiggles,recipe
2,jambalaya,recipe
3,build dollhouse furniture,hobby
4,learn SQL lol,coding

## Delete a Row

Delete one of the rows from your table.

In [19]:
delete from JunkDB_STL_May2023.johanna.planned_makes
where id = 4;

In [20]:
select * from JunkDB_STL_May2023.johanna.planned_makes

id,project,project_type
1,make lime squiggles,recipe
2,jambalaya,recipe
3,build dollhouse furniture,hobby

## Drop the Table

While this has been fun, it is time to drop the table!

In [22]:
DROP TABLE JunkDB_STL_May2023.johanna.planned_makes;